<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Clothes</title>
    <link rel="stylesheet" href="../css/style.css" />
    
  </head>
  <body>
    
    <!----------------------- Hedear. --------------------------->
    
    <div class="header">
      <div class="header-right">
        <a class="active" href="../index.html">Home</a>
        <a class="cart" href="cart.html">Cart</a>
        <a class="about" href="#about.html">AboutUs</a>
        

      </div>
    </div>

<!----------------------- Main body. --------------------------->

    <div class="center">
        
           
                <div class="containerImage">
                  <h3>About Us</h3>
                <p class="center" id="p1"></p>
                <p class="center" id="p2"></p>
                <p class="center" id="p3"></p>
                <p class="center" id="p4"></p>
                  
       
     
        <ul class="center" >
            <li id  ="li1" ></li>
            <li id ="li2"></li>
            <li id ="li3"></li>
            <li id ="li4"></li>
        </ul>
      
      
      </div>
        
    </div>

    <!--------------------- footer ----------------------------->

    <script src="../src/aboutMVC.js"></script>
  </body>
</html>
