<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Clothes</title>
    <link rel="stylesheet" href="../css/style.css" />
   
  </head>
  <body>
    <!----------------------- Hedear. --------------------------->
    <div class="header">
      <div class="header-right">
        <a class="active" href="../index.html">Home</a>
        <a class="cart" href="cart.html">Cart</a>
        <a class="about" href="about.html">AboutUs</a>
      </div>
    </div>
<!----------------------- Main body. --------------------------->


  <div id="divid" class="center">

    <h3 id="h3id" class=""></h3>


  </div>
   
   
   
   
    <!--------------------- footer ----------------------------->

    
    <script src="../src/paraMVC.js"></script>
    <!-- <script src="../src/aboutMVC.js"></script> -->
  </body>
</html>
